node_modules
.pytest_cache
.terraform
.terraform.tfstate.lock.info
*.tfstate.backup
credentials
.pytest_cache

# Terraform files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
setup/terraform/.terraform.lock.hcl
setup/terraform/terraform.tfstate
